#home-frame {
  padding:          2px;
}
#home-news {
  margin:           2px auto;
  padding:          6px;
  border:           1px solid gray;
  overflow-y:       scroll;
  height:           180px;
}
#home-posts {
  margin:           2px auto;
  padding:          2px;
  border:           1px solid gray;
  overflow-y:       scroll;
  height:           380px;
}
