#home-frame {

  border:           1px solid black;  
  
  // width: 100%;
}
#home-banner {
  margin: 10px auto;
  border:           1px solid red;
  height:           200px;

  font-size:        18px;  
}

.x {
  margin: 10px auto;
  padding: 10px;
  border:           1px solid #c74ff1;
  height:           500px;
}
