
.subtray {
  float:          left;
  width:          90%;
  background:     #dfd;
  border:         1px solid #aff;
  border-radius:  2px;
  padding-top:    4px;
  margin:         0;
}
.subtray-brief {
  @extend .subtray;
  width:          90%;
  height:         100px;
}
.subtray-lux {
  @extend .subtray;
  width:          90%;
  height:         360px;
}

.chip {
  float:          left;
  height:         18px;
  width:          20%;
  border-radius:  4px;
  margin-left:    2%;
  margin-right:   2%;
  margin-top:     1px;
  text-align:     center;
}
.chip:hover {
  @extend .chip;
  color:          #ffe;
  background:     #cee;
  border:         1px solid #baa;
}
.chip-finish {
  @extend .chip;
  color:          #66e;
  background:     #cee;
  border:         1px solid #bfd;
}
.chip-assay {
  @extend .chip;
  color:          red;
  background:     #cee;
  border:         2px solid red;
}
.chip-ready {
  @extend .chip;
  color:          #aae;
  background:     #cee;
  border:         2px solid #bfd;
}