
#analyzer {
  position:         relative;
  background:       black;
  width:            800px;
  height:           680px;
  margin:           0 auto;
}
#analyzer-container {
  position:       relative;
  overflow:       hidden;
  z-index:        120;
}
.analyzer-elem {
  position:       absolute;
  overflow:       hidden;
  border:         1px solid #eee;
}