<!DOCTYPE html>
<html>
  <head>
    <title>Node</title>
  </head>
  <body>
    <h1>Express</h1>
    <p>Welcome to Express</p>
    <div id="app"><img id="trans" src="/images/waiting.gif" /></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/bundle.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(document).ready(function() {
        $('div#app img#trans').remove();
        console.log("index.html: document ready!");
      });
    </script>

  </body>
</html>